@model IEnumerable<BookWorm.Web.Features.Shared.CategoryMenu.CategoryDto>

<section class="category-menu">
    <nav>
        @foreach (var item in Model)
        {
            <a href="#"><span>@item.Name</span><span class="count">@item.Count</span></a>
        }
    </nav>
</section>