<section class="category-menu">
    <nav>
        <a href="#">Technology</a>
        <a href="#">Fiction</a>
        <a href="#">Sports &amp; Outdoor</a>
        <a href="#">Lifestyles</a>
    </nav>
</section>