<section class="category-menu">
    <nav>
        <a href="#">Technology<span>156</span></a>
        <a href="#">Fiction<span>550</span></a>
        <a href="#">Sports &amp; Outdoor<span>400</span></a>
        <a href="#">Lifestyles<span>345</span></a>
    </nav>
</section>