<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style>
        body, p, h1, h2, h3, h4, h5, h6 {
            padding: 0;
            margin: 0;
            border: 0;
        }
         body {
             font-family: Tahoma, Verdana, Arial;
             font-size: 100%;
            text-align: center;
         }
         .page-shell {
             width: 975px;
             text-align: left;
             margin: 0 auto;
         }
    </style>
</head>
<body>
    @RenderBody()
</body>
</html>