.category-menu {
    overflow: hidden;

    a {
        display: block;
        overflow:hidden;
        color: #000;
        font-weight: 500;
        border-bottom: 1px solid #000;
        padding: 10px 15px;
        text-decoration: none;
        font-weight: 600;

        &:hover{
            color: #fff;
            background-color: #333;
        }

        span{
            float:right;
            font-size:12px;
            background: #f4f4f4;
            display: inline-block;
            padding: 5px;
            border-radius:3px;
            color: #000;
        }
    }
}