<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwExceptions="true" >

  <variable name="logDirectory" value="${basedir}/logs/${shortdate}"/>
  <targets  async="true">
    <target name="bolt.restclient" xsi:type="File" fileName="${logDirectory}/rest-requests.txt" layout="${longdate}|${level}|${message} ${exception:format=tostring} | ${stacktrace}"/>
    <target name="all" xsi:type="File" fileName="${logDirectory}/all.txt" layout="${longdate}|${level}|${message} ${exception:format=tostring} | ${stacktrace}"/>
    <target name="levelGrouped" xsi:type="File" fileName="${logDirectory}/${level}.txt" layout="${longdate}|${level}|${message} ${exception:format=tostring} | ${stacktrace}"/>
  </targets>
  <rules>
    <logger name="Bolt.RestClient" minlevel="Trace" writeTo="bolt.restclient" />
    <logger name="*" minlevel="Trace" writeTo="all" />
    <logger name="*" minlevel="Trace" writeTo="levelGrouped" />
  </rules>
</nlog>